.big-container {
  display: flex;
  width: 100%;
  height: 80px;
  font-size: 60px;
  background: black;
}

.clock {
  font-size: 50px;
  color: white;
  background: black;
  width: 50px;
  height: 70px;
  border-radius: 25%;
  display: flex;
}

.i {
 margin-top: 4px;
}
.one {
  color: white;
  background-color: black;
  display: flex;
  width: 50px;
  height: 70px;
  border-radius: 25%;
  border: 1px solid white;
}

.two {
  color: white;
  background-color: black;
  display: flex;
  width: 50px;
  height: 70px;
  border-radius: 25%;
  border: 1px solid white;
}

.three {
  color: white;
  background-color: black;
  display: flex;
  width: 50px;
  height: 70px;
  border-radius: 25%;
  border: 1px solid white;
}

.four {
  color: white;
  background-color: black;
  display: flex;
  width: 50px;
  height: 70px;
  border-radius: 25%;
  border: 1px solid white;
}

.five {
  color: white;
  background-color: black;
  display: flex;
  width: 50px;
  height: 70px;
  border-radius: 25%;
  border: 1px solid white;
}

.six {
  padding-left: 5px;
  color: white;
  background-color: black;
  display: flex;
  width: 50px;
  height: 70px;
  border-radius: 25%;
  border: 1px solid white;
}
